<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="icon" viewBox="0 0 640 512">
        <path
            d="M64 96c0-35.3 28.7-64 64-64l384 0c35.3 0 64 28.7 64 64l0 256-64 0 0-256L128 96l0 256-64 0L64 96zM0 403.2C0 392.6 8.6 384 19.2 384l601.6 0c10.6 0 19.2 8.6 19.2 19.2c0 42.4-34.4 76.8-76.8 76.8L76.8 480C34.4 480 0 445.6 0 403.2zM281 209l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-48-48c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM393 175l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z" />
    </symbol>
</svg>

<div class="container-cards">
    <div class="d-flex align-items-start">
        <div>
            <h1 class="pb-2 text-black">Preview de tareas y proyectos</h1>
        </div>
    </div>
    <div class="container-swiper">
        <swiper-container init="false">

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/home.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Bienvenidos</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/1.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Red LAN</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/2.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Mantenimiento de Equipos</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/3.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Máquina Virtual</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/4.png');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Infografía</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/5.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Máquina Virtual</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/9.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Mantenimiento de Equipos</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/7.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Proyecto Final</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/6.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Comandos CMD</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/8.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Proyecto Final</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/8.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Proyecto Final</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="slide-container-custom">
                    <div class="card card-cover h-100" style="background-image: url('assets/images/carrusel/8.gif');">
                        <div class="d-flex flex-column h-100 p-5 pb-1">
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="d-flex align-items-center me-0">
                                    <svg class="bi me-2" width="1em" height="1em" fill="white">
                                        <use xlink:href="#icon" />
                                    </svg>
                                    <small class="smallTag">Proyecto Final</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </swiper-slide>

        </swiper-container>
    </div>
</div>