<body class="cover-proyectos">
    <div class="cover-container">
        <nav class="nav-proyectos">
            <app-nav></app-nav>
        </nav>

        <header class="header">
            <div class="header-swiper">
                <swiper-container autoplay="true" delay="3000" scrollbar="true" effect="fade" loop="true">

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/final_1.png" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/final_2.png" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/final_3.png" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/lan_1.jpg" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/lan_2.jpg" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/lan_3.png" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/mant_1.jpg" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/mant_2.jpg" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/mant_3.jpg" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/maq_1.jpg" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/maq_2.jpg" alt="imagen 1" />
                    </swiper-slide>

                    <swiper-slide>
                        <img class="img-proyecto" src="assets/images/proyectos/maq_3.jpg" alt="imagen 1" />
                    </swiper-slide>

                </swiper-container>
            </div>

            <div class="header-content">
                <h1 class="title-header lead">Proyectos</h1>
                <p class="description-header lead">En esta sección podrás encontrar los proyectos que se han ido
                    desarrollando durante el semestre, es de nuestro agrado compartirlos con los compañeros del
                    curso y que puedan llevarse una distinta perspectiva sobre los proyectos desarrollados.
                </p>
                <p class="description-header lead">Pulsa el botón para ir a los proyectos</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Ver proyectos</a>
                </p>
            </div>
        </header>
    </div>
</body>