<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="logo" viewBox="0 0 640 512">
        <path
            d="M372.2 52c0 20.9-12.4 39-30.2 47.2L448 192l102.2-20.4 2.2-.4c-5.3-7.7-8.4-17.1-8.4-27.1c0-26.5 21.5-48 48-48s48 21.5 48 48c0 26-20.6 47.1-46.4 48l-9.8 21.8L481 442.3c-10.3 23-33.2 37.7-58.4 37.7l-205.2 0c-25.2 0-48-14.8-58.4-37.7L56.2 213.8 46.4 192C20.6 191.1 0 170 0 144c0-26.5 21.5-48 48-48s48 21.5 48 48c0 10.1-3.1 19.4-8.4 27.1l2.2 .4L192 192 298.1 99.1c-17.7-8.3-30-26.3-30-47.1c0-28.7 23.3-52 52-52s52 23.3 52 52zm44.2 176.1L320 143.8l-96.4 84.3c-11.2 9.8-26.4 13.9-41 10.9L114 225.4l88.7 197.2c2.6 5.7 8.3 9.4 14.6 9.4l205.2 0c6.3 0 12-3.7 14.6-9.4L526 225.4l-68.5 13.7c-14.6 2.9-29.8-1.1-41-10.9z" />
    </symbol>
</svg>

<nav [class.scrolled]="scrolled">
    <div class="container">
        <a class="brand" [routerLink]="['/']">Intr. Sistemas de Cómputo</a>
        <ul class="nav nav-links">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/proyectos']"
                    routerLinkActive="active">Proyectos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/tareas']" routerLinkActive="active">Tareas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/videos']" routerLinkActive="active">Videos
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="cover-container">
    <header class="header">
        <div class="header-swiper">
            <swiper-container autoplay="true" delay="3000" scrollbar="true" effect="fade" loop="true">

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/final_1.png" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/final_2.png" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/final_3.png" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/lan_1.jpg" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/lan_2.jpg" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/lan_3.png" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/mant_1.jpg" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/mant_2.jpg" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/mant_3.jpg" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/maq_1.jpg" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/maq_2.jpg" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/proyectos/maq_3.jpg" alt="imagen 1" />
                </swiper-slide>

            </swiper-container>
        </div>

        <div class="header-content">
            <h1 class="title-header lead">Proyectos</h1>
            <p class="description-header lead">En esta sección podrás encontrar los proyectos que se han ido
                desarrollando durante el semestre, es de nuestro agrado compartirlos con los compañeros del
                curso y que puedan llevarse una distinta perspectiva sobre los proyectos desarrollados.
            </p>
            <p class="description-header lead">Pulsa el botón para ir a los proyectos</p>
            <p class="lead">
                <a (click)="scrollTo('proyectos')" class="btn btn-lg btn-light fw-bold border-white bg-white">Ver
                    proyectos</a>
            </p>
        </div>
    </header>
</div>

<section id="proyectos">
    <div class="dialog">
        <ng-template #content let-observer>
            <div class="buttons">
                <button size="m" tuiButton type="button" (click)="observer.complete()">
                    Regresar
                </button>
            </div>
        </ng-template>

        <ng-template #mantenimiento>
            <div class="header-cards">
                <swiper-container loop="true" effect="fade" navigation="true" parallax="true">
                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/mant_1.jpg');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Mantenimiento de Computadoras
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <p>El mantenimiento de las computadoras es una práctica esencial para garantizar su
                                    correcto
                                    funcionamiento, prolongar su vida útil y optimizar su rendimiento. En un mundo cada
                                    vez
                                    más dependiente de la tecnología, las computadoras se han convertido en herramientas
                                    indispensables tanto en el ámbito laboral como en el personal.</p>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/mant_2.jpg');">
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <div class="custom-title-dialog" data-swiper-parallax="-400">
                                    Beneficios del Mantenimiento Regular
                                </div>
                                <div class="custom-text-dialog" data-swiper-parallax="-400"
                                    data-swiper-parallax-duration="600">
                                    <ul>
                                        <li>Mejora del rendimiento y velocidad del equipo.</li>
                                        <li>Reducción del riesgo de fallas y pérdida de datos.</li>
                                        <li>Ahorro de costos al evitar reparaciones mayores.</li>
                                        <li>Prolongación de la vida útil de los componentes.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/mant_3.jpg');">
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <div class="custom-title-dialog" data-swiper-parallax="-400">
                                    Recomendaciones Prácticas
                                </div>
                                <div class="custom-text-dialog" data-swiper-parallax="-400"
                                    data-swiper-parallax-duration="600">
                                    <ul>
                                        <li>Realizar limpiezas físicas cada 3-6 meses.</li>
                                        <li>Actualizar el software de manera periódica.</li>
                                        <li>Hacer copias de seguridad de los datos importantes.</li>
                                        <li>Utilizar herramientas de diagnóstico para monitorear el estado del equipo.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog" style="background-image: url('assets/images/carrusel/2.gif');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Mantenimiento de Computadoras
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none" href="https://www.youtube.com/watch?v=xfoxRq_nJsA"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Ver video
                                    </button>
                                </a>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </ng-template>

        <ng-template #maq_virtual>
            <div class="header-cards">
                <swiper-container loop="true" effect="fade" navigation="true" parallax="true">
                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/maq_2.jpg');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Máquina Virtual
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <p>Una máquina virtual (VM) es un entorno simulado que funciona como una computadora
                                    independiente dentro de tu sistema operativo principal. Crear una VM te permite
                                    ejecutar otros sistemas operativos (como Linux, Windows o macOS) sin afectar tu PC
                                    real, ideal para pruebas, desarrollo, seguridad o aprendizaje.</p>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/maq_1.jpg');">
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <div class="custom-title-dialog" data-swiper-parallax="-400">
                                    ¿Por qué usar una Máquina Virtual?
                                </div>
                                <div class="custom-text-dialog" data-swiper-parallax="-400"
                                    data-swiper-parallax-duration="600">
                                    <ul>
                                        <li>Ejecutar múltiples sistemas operativos en una sola computadora.</li>
                                        <li>Aislamiento y seguridad para pruebas.</li>
                                        <li>Desarrollo y testing de software.</li>
                                        <li>Retrocompatibilidad y uso de aplicaciones antiguas.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/maq_3.jpg');">
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <div class="custom-title-dialog" data-swiper-parallax="-400">
                                    Recomendaciones de software
                                </div>
                                <div class="custom-text-dialog" data-swiper-parallax="-400"
                                    data-swiper-parallax-duration="600">
                                    <ul>
                                        <li>Oracle VM VirtualBox</li>
                                        <li>VMware Workstation</li>
                                        <li>Xen Server</li>
                                        <li>Hyper-V Server</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog" style="background-image: url('assets/images/carrusel/5.gif');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Máquina Virtual
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none" href="https://youtu.be/8FlHXYiaz1U?si=guG-ND27moVv0iju"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Ver video
                                    </button>
                                </a>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </ng-template>

        <ng-template #red_lan>
            <div class="header-cards">
                <swiper-container loop="true" effect="fade" navigation="true" parallax="true">
                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/lan_1.jpg');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Creación de Red LAN
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <p>Las redes de área local desempeñan un papel fundamental en la conectividad de
                                    dispositivos dentro
                                    de entornos geográficamente limitados, como oficinas, universidades, hospitales y
                                    hogares. Estas
                                    redes permiten el intercambio eficiente de recursos, la comunicación entre sistemas
                                    y el acceso a
                                    servicios compartidos, optimizando procesos tanto en el ámbito empresarial como en
                                    el
                                    doméstico.</p>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/lan_2.jpg');">
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <div class="custom-title-dialog" data-swiper-parallax="-400">
                                    Características de una red LAN
                                </div>
                                <div class="custom-text-dialog" data-swiper-parallax="-400"
                                    data-swiper-parallax-duration="600">
                                    <ul>
                                        <li>Alta velocidad de transmisión de datos.</li>
                                        <li>Bajo retardo.</li>
                                        <li>Protocolos comunes.</li>
                                        <li>Compartición de recursos.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog"
                            style="background-image: url('assets/images/proyectos/lan_3.png');">
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <div class="custom-title-dialog" data-swiper-parallax="-400">
                                    Ventajas de una red LAN
                                </div>
                                <div class="custom-text-dialog" data-swiper-parallax="-400"
                                    data-swiper-parallax-duration="600">
                                    <ul>
                                        <li>Bajo costo de implementación y mantenimiento</li>
                                        <li>Alta seguridad</li>
                                        <li>Fácil administración y configuración centralizada.</li>
                                        <li>Soporte para trabajo colaborativo</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>

                    <swiper-slide>
                        <div class="carrusel-dialog" style="background-image: url('assets/images/carrusel/1.gif');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Redes LAN
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none" href="https://youtu.be/6SAZMppP2No?si=t1-Fej4XN7tTgJAN"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Ver video
                                    </button>
                                </a>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </ng-template>
    </div>

    <div class="cards-projects">
        <div class="jumbotron p-5 rounded-5 border shadow-lg">
            <div class="container-fluid py-4">
                <h1 class="display-5 fw-bold">Proyectos</h1>
                <p class="pt-3 fs-5">Les compartimos los proyectos realizados por nuestro grupo durante el semestre</p>
            </div>
        </div>

        <div class="cards-proyectos">
            <a type="button" (click)="dialogOpen(content, mantenimiento, 'l')" tuiHint="Click en la imagen para ver mas"
                tuiHintDirection="top-left" tuiHintPointer>
                <div class="col">
                    <div class="slide-container-custom">
                        <div class="card card-cover h-100 overflow-hidden"
                            style="background-image: url('assets/images/proyectos/mant_1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
                                <h3 class="pt-3 mt-2 mb-4 display-6 lh-1">Proyecto #1</h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-0">
                                        <svg class="bi me-2" width="1.7em" height="1.7em" fill="white">
                                            <use xlink:href="#logo" />
                                        </svg>
                                        <small class="smallTag">Mantenimiento de Computadoras</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a type="button" (click)="dialogOpen(content, maq_virtual, 'l')" tuiHint="Click en la imagen para ver mas"
                tuiHintDirection="top-left" tuiHintPointer>
                <div class="col">
                    <div class="slide-container-custom">
                        <div class="card card-cover h-100 overflow-hidden"
                            style="background-image: url('assets/images/proyectos/maq_3.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
                                <h3 class="pt-2 mt-3 mb-4 display-6 lh-1 fw-bold">Proyecto #2
                                </h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-0">
                                        <svg class="bi me-2" width="1.7em" height="1.7em" fill="white">
                                            <use xlink:href="#logo" />
                                        </svg>
                                        <small class="smallTag">Máquina Virtual</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a type="button" (click)="dialogOpen(content, red_lan, 'l')" tuiHint="Click en la imagen para ver mas"
                tuiHintDirection="top-left" tuiHintPointer>
                <div class="col">
                    <div class="slide-container-custom">
                        <div class="card card-cover h-100 overflow-hidden"
                            style="background-image: url('assets/images/proyectos/lan_4.png');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
                                <h3 class="pt-2 mt-3 mb-4 display-6 lh-1 fw-bold">Proyecto #3</h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-0">
                                        <svg class="bi me-2" width="1.7em" height="1.7em" fill="white">
                                            <use xlink:href="#logo" />
                                        </svg>
                                        <small class="smallTag">Red LAN</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</section>