<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="logo" viewBox="0 0 640 512">
        <path
            d="M372.2 52c0 20.9-12.4 39-30.2 47.2L448 192l102.2-20.4 2.2-.4c-5.3-7.7-8.4-17.1-8.4-27.1c0-26.5 21.5-48 48-48s48 21.5 48 48c0 26-20.6 47.1-46.4 48l-9.8 21.8L481 442.3c-10.3 23-33.2 37.7-58.4 37.7l-205.2 0c-25.2 0-48-14.8-58.4-37.7L56.2 213.8 46.4 192C20.6 191.1 0 170 0 144c0-26.5 21.5-48 48-48s48 21.5 48 48c0 10.1-3.1 19.4-8.4 27.1l2.2 .4L192 192 298.1 99.1c-17.7-8.3-30-26.3-30-47.1c0-28.7 23.3-52 52-52s52 23.3 52 52zm44.2 176.1L320 143.8l-96.4 84.3c-11.2 9.8-26.4 13.9-41 10.9L114 225.4l88.7 197.2c2.6 5.7 8.3 9.4 14.6 9.4l205.2 0c6.3 0 12-3.7 14.6-9.4L526 225.4l-68.5 13.7c-14.6 2.9-29.8-1.1-41-10.9z" />
    </symbol>
</svg>

<nav [class.scrolled]="scrolled">
    <div class="container">
        <a class="brand" [routerLink]="['/']">Intr. Sistemas de Cómputo</a>
        <ul class="nav nav-links">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/proyectos']"
                    routerLinkActive="active">Proyectos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/tareas']" routerLinkActive="active">Tareas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/videos']" routerLinkActive="active">Videos
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="cover-container">
    <header class="header">
        <div class="header-swiper">
            <swiper-container autoplay="true" delay="3000" scrollbar="true" effect="fade" loop="true">

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/tareas/1.gif" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/tareas/6.png" alt="imagen 1" />
                </swiper-slide>

                <swiper-slide>
                    <img class="img-proyecto" src="assets/images/tareas/3.jpeg" alt="imagen 1" />
                </swiper-slide>

            </swiper-container>
        </div>

        <div class="header-content">
            <h1 class="title-header lead">Tareas</h1>
            <p class="description-header lead">En esta sección podrás encontrar las tareas que se han ido
                desarrollando durante el semestre, es de nuestro agrado compartirlos con los compañeros del
                curso y que puedan llevarse una distinta perspectiva sobre los proyectos desarrollados.
            </p>
            <p class="description-header lead">Pulsa el botón para ir a las tareas</p>
            <p class="lead">
                <a (click)="scrollTo('tareas')" class="btn btn-lg btn-light fw-bold border-white bg-white">Ver
                    tareas</a>
            </p>
        </div>
    </header>
</div>

<section id="tareas">
    <div class="dialog">
        <ng-template #content let-observer>
            <div class="buttons">
                <button size="m" tuiButton type="button" (click)="observer.complete()">
                    Regresar
                </button>
            </div>
        </ng-template>

        <ng-template #infografia>
            <div class="header-cards">
                <swiper-container loop="true" effect="fade" navigation="true" parallax="true">
                    <swiper-slide>
                        <div class="carrusel-dialog" style="background-image: url('assets/images/tareas/6.png');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Evolución de las Computadoras
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none"
                                    href="https://drive.google.com/file/d/1aIWOaFsLpkXA2-mRkiRRcdfAZSg39_VU/view?usp=sharing"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Click para ver
                                    </button>
                                </a>
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none"
                                    href="https://drive.google.com/file/d/1SlhdCXnYZAnI2CCHHcq3ZheLOZ6U3NjN/view?usp=sharing"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Click para ver
                                    </button>
                                </a>
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none"
                                    href="https://drive.google.com/file/d/1boXByC-5LY9gMrguSSx5GTGdIWYb2NOa/view?usp=sharing"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Click para ver
                                    </button>
                                </a>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </ng-template>

        <ng-template #expo>
            <div class="header-cards">
                <swiper-container loop="true" effect="fade" navigation="true" parallax="true">
                    <swiper-slide>
                        <div class="carrusel-dialog" style="background-image: url('assets/images/tareas/4.jpg');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Usos Cotidianos de una Computadora
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none"
                                    href="https://docs.google.com/document/d/1cIK2qE6rS7JGTGYLuH6DAwwKV_Lq_3Z7/edit?usp=sharing&ouid=109451151925063816026&rtpof=true&sd=true"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Click para ver
                                    </button>
                                </a>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </ng-template>

        <ng-template #enigma>
            <div class="header-cards">
                <swiper-container loop="true" effect="fade" navigation="true" parallax="true">
                    <swiper-slide>
                        <div class="carrusel-dialog" style="background-image: url('assets/images/tareas/5.webp');">
                            <div class="custom-title-dialog" data-swiper-parallax="-400">
                                Código Enigma
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none"
                                    href="https://drive.google.com/file/d/1l7kxKGkpjnl_mGzLEh11bPmVbL9VEKUb/view?usp=sharing"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Click para ver
                                    </button>
                                </a>
                            </div>
                            <div class="custom-text-dialog" data-swiper-parallax="-400"
                                data-swiper-parallax-duration="600">
                                <a class="text-decoration-none"
                                    href="https://drive.google.com/file/d/17SmSyH0B6lVjyS3nw5dsh8n7hrflXrMK/view?usp=sharing"
                                    target="_blank">
                                    <button type="button" class="btn btn-outline-light fs-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white"
                                            class="bi bi-play-fill" viewBox="0 0 16 16">
                                            <path
                                                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393">
                                            </path>
                                        </svg>
                                        Click para ver
                                    </button>
                                </a>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </ng-template>
    </div>

    <div class="cards-projects">
        <div class="jumbotron p-5 rounded-5 border shadow-lg">
            <div class="container-fluid py-4">
                <h1 class="display-5 fw-bold">Tareas</h1>
                <p class="pt-3 fs-5">Les compartimos las tareas realizadas por nuestro grupo durante el semestre</p>
            </div>
        </div>

        <div class="cards-proyectos">
            <a type="button" (click)="dialogOpen(content, infografia, 'l')" tuiHint="Click en la imagen para ver mas"
                tuiHintDirection="top-left" tuiHintPointer>
                <div class="col">
                    <div class="slide-container-custom">
                        <div class="card card-cover h-100 overflow-hidden"
                            style="background-image: url('assets/images/tareas/2.png');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
                                <h3 class="pt-3 mt-2 mb-4 display-6 lh-1">Tarea #1</h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-0">
                                        <svg class="bi me-2" width="1.7em" height="1.7em" fill="white">
                                            <use xlink:href="#logo" />
                                        </svg>
                                        <small class="smallTag">Infografía</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a type="button" (click)="dialogOpen(content, expo, 'l')" tuiHint="Click en la imagen para ver mas"
                tuiHintDirection="top-left" tuiHintPointer>
                <div class="col">
                    <div class="slide-container-custom">
                        <div class="card card-cover h-100 overflow-hidden"
                            style="background-image: url('assets/images/tareas/4.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
                                <h3 class="pt-2 mt-3 mb-4 display-6 lh-1 fw-bold">Tarea #2
                                </h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-0">
                                        <svg class="bi me-2" width="1.7em" height="1.7em" fill="white">
                                            <use xlink:href="#logo" />
                                        </svg>
                                        <small class="smallTag">Exposición</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a type="button" (click)="dialogOpen(content, enigma, 'l')" tuiHint="Click en la imagen para ver mas"
                tuiHintDirection="top-left" tuiHintPointer>
                <div class="col">
                    <div class="slide-container-custom">
                        <div class="card card-cover h-100 overflow-hidden"
                            style="background-image: url('assets/images/tareas/5.webp');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white">
                                <h3 class="pt-2 mt-3 mb-4 display-6 lh-1 fw-bold">Tarea #3</h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center me-0">
                                        <svg class="bi me-2" width="1.7em" height="1.7em" fill="white">
                                            <use xlink:href="#logo" />
                                        </svg>
                                        <small class="smallTag">Código Enigma</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</section>