:root {
    --swiper-theme-color: white;
    --swiper-navigation-color: var(--swiper-theme-color);
    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-scrollbar-bg-color: var(--swiper-theme-color);
    --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
}